@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background: #faf8f8;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  /* position: relative; */
}

.img-1 {
  height: 240px;
  width: 375px;
  background: url('./images/bg-main-mobile.png') no-repeat;
  background-size: cover;
  position: relative;
}

.img-2 {
  background: url('./images/bg-card-back.png') no-repeat;
  background-size: cover;
  position: absolute;
  height: 157px;
  width: 286px;
  left: 73px;
  top: 32px;
}

.img-3 {
  background: url('./images/bg-card-front.png') no-repeat;
  background-size: cover;
  position: absolute;
  height: 157px;
  width: 286px;
  left: 20px;
  top: 126px;
  box-shadow: rgba(25, 24, 66, 0.25) 0 54px 55px, rgba(17, 21, 59, 0.12) 0 -12px 30px, rgba(23, 26, 66, 0.12) 0 4px 6px, rgba(18, 25, 68, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

form {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  margin: 0 auto;

  /* position: relative; */
  margin-top: 4rem;
  height: 328px;
  width: 327px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #21092f;
  opacity: 0.25;
}

label,
p {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  color: #21092f;
  margin-bottom: 8px;
}
