@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background: #faf8f8;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  /* position: relative; */
}

.img-1 {
  height: 240px;
  width: 375px;
  background: url('./images/bg-main-mobile.png') no-repeat;
  background-size: cover;
  position: relative;
}

.img-2 {
  background: url('./images/bg-card-back.png') no-repeat;
  background-size: cover;
  position: absolute;
  height: 157px;
  width: 286px;
  left: 73px;
  top: 32px;
}

.img-3 {
  background: url('./images/bg-card-front.png') no-repeat;
  background-size: cover;
  position: absolute;
  height: 157px;
  width: 286px;
  left: 16px;
  top: 126px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  /* position: relative; */
  margin-top: 4rem;
}